<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <button class="btn btn-primary" (click)="onChangeFirst()">Change first element</button>
  <button class="btn btn-danger" (click)="onDestroyAll()">Remove all servers</button>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElements.name"
      ><p #contentParagraph>
        <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
          serverElement.content
        }}</strong>
        <em *ngIf="serverElement.type === 'blueprint'" style="color: blue">{{
          serverElement.content
        }}</em>
      </p></app-server-element>
    </div>
  </div>
</div>
